volumes:
  pg_data:
  static:
  media:
services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data/
  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - static:/app/static/
      - media:/app/media/
    depends_on:
      - db
  frontend:
    build: ./frontend/
    volumes:
      - static:/app/result_build/build/
  gateway:
    build: nginx:1.19.3-alpine
    ports:
      - 8000:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docs/:/usr/share/nginx/html/api/docs/
      - static:/usr/share/nginx/html
      - media:/usr/share/nginx/html/media
    depends_on:
      - backend
      - frontend
