volumes:
  pg_data:
  static:
  media:
services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data/
  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - static:/static/
      - media:/app/media/
    depends_on:
      - db
  frontend:
    build: ./frontend/
    volumes:
      - static:/app/result_build/build/
  gateway:
    build: ./gateway/
    ports:
      - 6000:80
    volumes:
      - ./nginx.conf:/etc/nginx/sites-enabled/default
      - static:/static/
      - media:/media/
    depends_on:
      - backend
      - frontend
