volumes:
  pg_data:
  static_value:
  media_value:
  redoc:
services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data/
  backend:
    image: kramik/foodgram_backend
    env_file: .env
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
      - redoc:/app/api/docs/
    depends_on:
      - db
  frontend:
    image: kramik/foodgram_frontend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    image: kramik/foodgram_gateway
    ports:
      - 6000:80
    volumes:
      - ./nginx.conf:/etc/nginx/sites-enabled/default
      - ../frontend/build:/usr/share/nginx/html/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
      - redoc:/usr/share/nginx/html/api/docs/
    depends_on:
      - backend
      - frontend
