volumes:
  pg_data:
  static:
  media:
services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data/
  backend:
    image: kramik/foodgram_backend
    env_file: .env
    volumes:
      - static:/app/static/
      - media:/app/media/
    depends_on:
      db:
        condition: service_started
  frontend:
    image: kramik/foodgram_frontend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    image: kramik/foodgram_gateway
    ports:
      - 6000:80
    volumes:
      - static:/static/
      - media:/media/
    depends_on:
      - backend
      - frontend
